<html>
<head></head>
<body>
    <h1>Hello World</h1>
    <ul id="test">
    </ul>
    <input type='text' id="input_node"/>
    <button onClick="send_data()">Send data!</button>
    <script src="{{ static('js/index.js') }}"></script>
</body>
